# Application Settings
APP_ENV=development
DEBUG=true
LOG_LEVEL=INFO
BACKEND_URL=https://your-ngrok-url.ngrok-free.app
FRONTEND_URL=http://localhost:3000

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_USER=el-ripley-user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_SSL_MODE=disable
POSTGRES_AUTH_DB=ai_agent_ripley
POSTGRES_LANGCHAIN_SHORT_MEMORY_DB=ai_agent_short_memory

# MongoDB
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_USERNAME=admin
MONGODB_PASSWORD=your_mongodb_password
MONGODB_DB_NAME=ai_agent_db

# Qdrant (Vector DB)
QDRANT_HOST=localhost
QDRANT_PORT_REST=6333
QDRANT_PORT_GRPC=6334

# Facebook App Configuration
FB_GRAPH_VERSION=v23.0
FB_WEBHOOK_VERIFY_TOKEN=your_webhook_verify_token
FB_APP_ID=your_facebook_app_id
FB_APP_SECRET=your_facebook_app_secret
FB_LOGIN_CALLBACK_PATH=auth/callback

# Graph Manager Config
GRAPH_DELAY_FOR_REASONING=10
GRAPH_TIME_TO_CUT_THREAD=600
GRAPH_MAX_THREAD_WEIGHT=1200

# AWS S3
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=ap-southeast-1
AWS_BUCKET_NAME=your_s3_bucket_name
AWS_S3_PREFIX=dev/
